<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>forum.sundingyi.com</title>
    <head th:insert="common :: head"></head>
</head>
<body>
<div th:replace="common :: navbar"></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-9 ">
            <h2><i class="bi bi-pencil-square"></i> 发布问题</h2>
            <hr>
            <div class="d-flex" th:each="question : ${questions}">
                <div class="flex-shrink-0">
                    <img th:src="${question.user.avatarUrl}" height="50" width="50">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 th:text="${question.title}">标题</h5>
                    <span class="text-desc">[[${question.user.name}]]  [[${question.commentCount}]]回复 [[${question.viewCount}]]浏览 [[${question.likeCount}]]点赞 [[${#dates.format(question.gmtCreate, 'dd/MMM/yyyy HH:mm')}]]</span>
                </div>
            </div>

        </div>
        <div class="col-xl-3 ">
            <h3>热门</h3>
        </div>
    </div>
</div>
</body>
</html>