<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>发布</title>
    <head th:insert="common :: head"></head>
</head>
<body>
<div th:replace="common :: navbar"></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-9 ">
            <h2><i class="bi bi-pencil-square"></i> 发布问题</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="mb-3">
                    <label for="title" class="form-label">标题</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           placeholder="在这里输入标题 ...">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">内容</label>
                    <textarea class="form-control" id="description" name="description" rows="5"
                              th:text="${description}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="tag" class="form-label">标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}"
                           placeholder="在这里输入标签，用空格隔开">
                </div>
                <div class="alert alert-warning" role="alert" th:text="${error}" th:if="${error != null}">
                </div>
                <button type="submit" class="btn btn-success" style="float: right">提交</button>
            </form>
        </div>
        <div class="col-xl-3 ">
            <h3>规则</h3>
            没啥规则
        </div>
    </div>
</div>
</body>
</html>