<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}">title</title>
    <head th:insert="common :: head"></head>
</head>
<body>
<div th:replace="common :: navbar"></div>
<div class="container mt-3 profile">
    <div class="row">
        <div class="col-xl-9 ">
            <h2><i class="bi bi-pencil-square"></i> [[${question.title}]]</h2>
            <span class="text-desc">
                [[${question.commentCount}]]回复 ∙ [[${question.viewCount}]]浏览 ∙ [[${question.likeCount}]]点赞 ∙ [[${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}]]
            </span>
            <hr>
            <div class="col-xl-12 ">
                [[${question.description}]]
            </div>
            <a th:if="${session.githubUser != null && session.githubUser.id == question.creator}"
               th:href="@{'/publish/' + ${question.id}}"> <i class="bi bi-pencil"></i>修改</a>
            <hr>
            <div class="d-flex" th:each="comment : ${comments}" style="border-bottom: 1px solid #e2e2e2">
                <div class="flex-shrink-0">
                    <img th:src="${comment.user.avatarUrl}" height="55" width="55">
                </div>
                <div class="flex-grow-1 ms-3">
                    <span th:text="${comment.user.name}"></span>
                    <span class="text-desc">[[${#dates.format(comment.gmtCreat, 'yyyy-MM-dd HH:mm')}]]</span>
                    <p th:text="${comment.content}"></p>
                    <a href="">赞</a>
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                th:data-bs-target="'#collapse' + ${comment.id}" aria-expanded="false"
                                th:aria-controls="'collapse' + ${comment.id}">
                            回复
                        </button>
                    </p>
                    <!--                   二级回复开始-->
                    <div class="in collapse show" th:id="'collapse' + ${comment.id}">
                        <div class="card card-body">
                            <div class="d-flex" th:each="subComment : ${subComments}"
                                 th:if="${comment.id == subComment.parentId}"
                                 style="border-bottom: 1px solid #e2e2e2">
                                <div class="flex-shrink-0">
                                    <img th:src="${subComment.user.avatarUrl}" height="55" width="55">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <span th:text="${subComment.user.name}"></span>
                                    <span class="text-desc">[[${#dates.format(subComment.gmtCreat, 'yyyy-MM-dd HH:mm')}]]</span>
                                    <p th:text="${subComment.content}"></p>
                                    <a href="">赞</a>
                                    <p>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                                th:data-bs-target="'#collapse' + ${subComment.id}" aria-expanded="false"
                                                th:aria-controls="'collapse' + ${subComment.id}">
                                            回复
                                        </button>
                                    </p>
                                </div>
                            </div>
                            <input type="hidden" id="question_id" th:value="${question.id}">
                            <div class="mb-3" id="comment_section">
                                <label for="comment_content" class="form-label">回复</label>
                                <textarea class="form-control" id="comment_content" rows="3"></textarea>
                            </div>
                            <button type="button" class="btn btn-success" onclick="post()">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="question_id" th:value="${question.id}">
            <div class="mb-3" id="comment_section">
                <label for="comment_content" class="form-label">回复</label>
                <textarea class="form-control" id="comment_content" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-success" onclick="post()">提交</button>
        </div>
        <div class="col-xl-3 ">
            <div class="col-xl-12 ">
                <h3>作者</h3>
                <img th:src="${question.user.avatarUrl}" height="55" width="55">
                [[${question.user.name}]] ∙
            </div>
        </div>
    </div>
</div>
</body>
</html>